doctype html
html(lang="en")
  head
    title= pageTitle
  body
    canvas(id='canvas', width='1024', height='1024')

    script(type='text/javascript', src='vendor/sea-debug.js')
    script(type='text/javascript', src='vendor/delaunay.js')
    script(type='text/javascript').
        // Set configuration
        seajs.config({
            base: './src/js',
            alias: {
                "jquery": "./vendor/jquery.min.js"
            }
        });

        seajs.use('./src/js/app.js');
