doctype html
html(lang="en")
  head
    title Polyvia
    link(href='src/css/app.css', type='text/css', rel='stylesheet')

  body
    canvas(id='canvas')

    //- hidden elements
    img(id='source-img', src='src/img/18.jpg')
    input(id='img-path', type='file')

    script(type='text/javascript', src='vendor/sea-debug.js')
    script(type='text/javascript').
        // set sea.js configuration
        seajs.config({
            base: './src/js',
            alias: {
                'jquery': '../../vendor/jquery.min.js',
                'delaunay': '../../vendor/delaunay.js',
                'gui': '../../vendor/dat.gui.js',
                'tracking': '../../vendor/tracking.js',
                'tracking-face': '../../vendor/face-min.js'
            }
        });

        seajs.use('./src/js/app.js');
