doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='src/css/app.css', type='text/css', rel='stylesheet')

  body
    canvas(id='canvas')

    script(type='text/javascript', src='vendor/sea-debug.js')
    script(type='text/javascript', src='vendor/delaunay.js')
    script(type='text/javascript').
        // set sea.js configuration
        seajs.config({
            base: './src/js',
            alias: {
                'jquery': '../../vendor/jquery.min.js',
                'delaunay': '../../vendor/delaunay.js'
            }
        });

        seajs.use('./src/js/app.js');
