doctype html
html(lang="en")
  head
    title Polyvia
    link(href='src/css/app.css', type='text/css', rel='stylesheet')

  body
    canvas(id='canvas')

    //- hidden elements
    img(id='source-img', src='src/img/mao.png')
    input(id='img-path', type='file')

    script(type='text/javascript', src='vendor/require.js')
    script(type='text/javascript').
        require.config({
            baseUrl: './src/js',
            paths: {
                'dat': '../../vendor/dat.gui',
                'delaunay': '../../vendor/delaunay',
                'three': '../../vendor/three',
                'threeCopy': '../../vendor/three.CopyShader',
                'threeEdge': '../../vendor/three.EdgeShader',
                'threeComposer': '../../vendor/three.EffectComposer',
                'threeMask': '../../vendor/three.MaskPass',
                'threeRender': '../../vendor/three.RenderPass',
                'threeShader': '../../vendor/three.ShaderPass'
            },
            shim: {
                'three': {
                    exports: 'THREE'
                },
                'GlRenderer': {
                    deps: ['three']
                },
                'threeCopy': {
                    deps: ['three'],
                    exports: 'THREE.CopyShader'
                },
                'threeEdge': {
                    deps: ['three'],
                    exports: 'THREE.EdgeShader'
                },
                'threeComposer': {
                    deps: ['three'],
                    exports: 'THREE.EffectComposer'
                },
                'threeMask': {
                    deps: ['three'],
                    exports: 'THREE.MaskPass'
                },
                'threeRender': {
                    deps: ['three'],
                    exports: 'THREE.RenderPass'
                },
                'threeShader': {
                    deps: ['three'],
                    exports: 'THREE.ShaderPass'
                },
                'dat': {
                    exports: 'dat'
                },
                'delaunay': {
                    exports: 'Delaunay'
                }
            }
        });

        require(['image'], function() {
            console.time('total');
        });
