doctype html
html(lang="en")
  head
    title Polyvia
    link(href='src/css/app.css', type='text/css', rel='stylesheet')

  body
    canvas(id='canvas')

    //- hidden elements
    img(id='source-img', src='src/img/18.jpg')
    input(id='img-path', type='file')

    script(type='text/javascript', src='vendor/esl.js', data-main='src/js/app')
    script(type='text/javascript').
        require.config({
            baseUrl: './src/js',
            paths: {
                'dat.gui': '../../vendor/dat.gui',
                'delaunay': '../../vendor/delaunay',
                'three': '../../vendor/three'
            }
        });

        require(['app'], function() {
            console.log('app loaded');
        });
