doctype html
html(lang="en")
  head
    title= pageTitle
  body
    canvas(id='canvas', width='1024', height='1024')

    script(type='text/javascript', src='vendor/sea-debug.js')
    script(type='text/javascript', src='vendor/delaunay.js')
    script(type='text/javascript', src='src/js/app.js')
