doctype html
html(lang="en")
  head
    title Polyvia
    style(type='text/css', rel='stylesheet').
        * {
            margin: 0;
            padding: 0;
        }
        html {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        body {
            width: 100%;
            height: 100%;
        }
        #canvas {
            height: 100%;
        }
        #info {
            position: absolute;
            right: 0;
            top: 0;
            padding: 20px;
            z-index: 10;
        }

  body
    canvas(id='canvas', width='0', height='0')

    div(id='info')
        h1 Polyvia
        p is

    script(type='text/javascript', src='vendor/three.js')
    script(type='text/javascript', src='vendor/three.CopyShader.js')
    script(type='text/javascript', src='vendor/three.EdgeShader.js')
    script(type='text/javascript', src='vendor/three.EffectComposer.js')
    script(type='text/javascript', src='vendor/three.MaskPass.js')
    script(type='text/javascript', src='vendor/three.RenderPass.js')
    script(type='text/javascript', src='vendor/three.ShaderPass.js')
    script(type='text/javascript', src='vendor/require.js')
    script(type='text/javascript').
        require.config({
            baseUrl: './src/js',
            paths: {
                'dat': '../../vendor/dat.gui',
                'delaunay': '../../vendor/delaunay',
                'stats': '../../vendor/stats.min'
            },
            shim: {
                'dat': {
                    exports: 'dat'
                },
                'delaunay': {
                    exports: 'Delaunay'
                },
                'stats': {
                    exports: 'Stats'
                }
            }
        });

        require(['video'], function() {
            
        });
