doctype html
html(lang="en")
  head
    title Polyvia
    link(href='src/css/app.css', type='text/css', rel='stylesheet')

  body
    canvas(id='canvas')

    script(type='text/javascript', src='vendor/three.js')
    script(type='text/javascript', src='vendor/three.CopyShader.js')
    script(type='text/javascript', src='vendor/three.EdgeShader.js')
    script(type='text/javascript', src='vendor/three.EffectComposer.js')
    script(type='text/javascript', src='vendor/three.MaskPass.js')
    script(type='text/javascript', src='vendor/three.RenderPass.js')
    script(type='text/javascript', src='vendor/three.ShaderPass.js')
    script(type='text/javascript', src='vendor/require.js')
    script(type='text/javascript').
        require.config({
            baseUrl: './src/js',
            paths: {
                'dat': '../../vendor/dat.gui',
                'delaunay': '../../vendor/delaunay',
                'stats': '../../vendor/stats.min'
            },
            shim: {
                'dat': {
                    exports: 'dat'
                },
                'delaunay': {
                    exports: 'Delaunay'
                },
                'stats': {
                    exports: 'Stats'
                }
            }
        });

        require(['video'], function() {
            
        });
